<h2> Add a User </h2>
<form class ="create-update-form" action = "api/users" method = 'POST'>

	<div class = 'form-group'>
		<label for = 'burger'> User: </label>
		<input type="text" class="form-control" placeholder="Username." id = 'burger' name = 'name'>
		<input type='text' class='form-control' placeholder='Password.' id = 'user' name = 'password'>
		<input type='text' class='form-control' placeholder='Email.' id = 'user' name = 'email'>
		<button type="submit" class="btn btn-info" id = 'add-button'> Add </button>

		</div>

	
</form>
<form class ="create-update-form" action = "api/authenticate" method = 'POST'>

	<div class = 'form-group'>
		<label for = 'burger'> User: </label>
		<input type="text" class="form-control" placeholder="Username." id = 'user' name = 'name'>
		<input type='text' class='form-control' placeholder='Password.' id = 'user' name = 'password'>
		<input type='text' class='form-control' placeholder='Email.' id = 'user' name = 'email'>
		<button type="submit" class="btn btn-info" id = 'add-button'> Sign-in </button>

		</div>

	
</form>

