<div class='row'>
<input id = 'movie_search' type='text' placeholder='Movie Title'></input>
</div>
<div class='row'>
<button class='warning btn-warning' type='submit' id='moviesearch'> </button>
</div>
